.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.chapter-container {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.chapter-text {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
    font-size: 1.1em;

    color: #333;
      /* Dark text color */
    padding: 10px; /* Add padding for better readability */
    text-align: justify;
}

.chapter-text pre {
  white-space: pre-wrap; /* Preserve whitespace and wrap lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
}

/* Add line breaks before each verse number */
.chapter-text pre span::before {
  content: '\A'; /* Insert a line break */
  white-space: pre; /* Preserve the line break */
}
.sidemenu {
  background-color: #ddd;
  padding: 20px;
  flex-basis: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.sidemenu h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.sidemenu input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}

.sidemenu button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
}